.contenedor{
    height: 700px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,150px);
    grid-template-rows: repeat(3,150px);
    /* Alinear horizontal */
    /* justify-content: start; */
    /* justify-content: center; */
    /* justify-content: end; */
    /* justi]fy-content: space-around; */
    /* justify-content: space-between; */
    justify-content: space-between;
 

    /* Alinear de foma vertical */
    /* align-content: start; */
    /* align-content: end; */

    /* align-content: center; */
    /* align-content: space-around; */
    align-content: space-between;
    /* align-content: space-evenly; */

}


.contenedor div:nth-child(5){
    background-color: red;
    /* width: 100%; */
    justify-self: stretch;
    /* align-self: start; */
    /* align-self: end; */
    align-self: stretch;
  
    transition: transform 0.2s ease-in-out;
}

.contenedor div:hover{
    box-shadow: 10px 8px 6px rgba(0, 0, 0, 0.9), 0px 1px 3px rgba(0, 0, 0, 0.8);
    transform: translateY(-2px);
    transform: rotate(-8deg);
}

.contenedor div:hover ~ div {
    transform: rotate(8deg);
    box-shadow: -10px 8px 6px 0px rgba(0,0,0,0.9);

}
