#texto1{
    font-family: 'Rubik Iso', cursive;
    font-size: 2rem;
}

#texto2{
    font-family: 'Sedgwick Ave Display', cursive;
}

.texto3{
    font-family: 'Qwitcher Grypen', cursive;
}
body{
    
}