body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #ff5733, #c70039);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table{
    font-size: 2rem;
    
}

caption{
    margin-bottom: 20px;
}
.producto{    
    border-bottom: 2px dotted black;
    width: 300px;
    margin-left: 50px;
}

.precio{
    font-size: 1.4rem;
    position: relative;
    bottom: -15px;
    display: inline-block;
    margin-left: 10px;
}
.img-container{
    display: flex;
    justify-content: center;
}
.pizza{
    display: inline-block;
    background-image: url("../media/pizza.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 180px;
}

.alitas{
    display: inline-block;
    background-image: url("../media/alitas.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 180px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    padding: 10px;
    border: 2px solid #ff5733;
    border-radius: 10px;
}

a:hover{
 background-color: #ff5733;
}
