body{
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 ;
    color: #000000;
    font-family: monospace;

}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
    line-height: 10px;
}

nav{
    display: flex;
    justify-content: center;

}

a{
    background-color: black;
    color: aliceblue;
    padding: 10px;
    margin: 20px;
    font-size: 2rem;
    border-radius: 10px;
    text-decoration: none;
    transition: 2s;
}

a:hover{
    scale: 1.2;
    color: #ffffff;
    
}

.Facebook:hover , .twitter:hover{
    background: #0674e7;
}

.Instagram:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.Youtube:hover{
    background: #FF0000;
}

.whatsapp:hover{
    background: #00a884;
    
}

