body{
    padding: 40px;
    margin: 0;
    box-sizing: border-box;
    background-image: url("../images/fondo.webp");
   color: aliceblue;
}
div{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    height: 70vh;
    font-size: 2rem;
}

fieldset{
    background-color: darkslategrey;
    border-radius: 20px;
}

@font-face{
    font-family: 'Dancing Script';
    src: url("../fonts/dancing.woff2");
}

legend{
    font-family: 'Dancing Script';
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}

input{
    border-radius: 10px;
    height: 30px;
    margin-left: 10px;
}

.send{
    width: 80px;
    height: 50px;
    border: 2px solid aliceblue;
}

.send:hover{
    cursor: pointer;
    background-color: darkslategrey;
    color: black;
}
